@use './utilities/variables' as v;

body {
  background-image: v.$main-bg;
  font-size: 16px;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: white;
}

li a {
  color: black;
  font-family: v.$secondary-font;
}