@use './utilities/variables' as v;

.home {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

h2 {
  color: v.$secondary-color;
  text-align: center;
  font-family: v.$secondary-font;
  margin-bottom: 1.5rem;
  font-weight: lighter;
}

.buttons {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-evenly;
}

.card {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  height: 17.75rem;
  img {
    border-radius: 6px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}