@use './utilities/variables' as v;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem;
}

.logo {
  font-family: v.$main-font;
  color: v.$main-color;
  font-size: 3.5rem;
}

.login-btn {
  color: v.$main-color;
}