@use './utilities/variables' as v;

#tournament-data{
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1rem 3rem;

  .title{
    font-family: v.$main-font;
    margin-top: 80px;
    color: #FFFFFF;
  }

  .tournament-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tournament-info{
    display: flex;
  }
}

#tournament-rounds {
  display: flex;
  justify-content: space-around;
}

.bracket-name {
  display: flex;
}


.container {
  display: flex;
  justify-content: center;
}

.matchup {
  padding: 0;
  margin: 0;
}

.round-one {
  width: 100%;
}

.names{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  color: v.$secondary-color
}

.name-score-container{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.edit-container{
  margin: 4rem 0;
}

.edit-name-score{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: v.$secondary-color;
}

.edit-name {
  font-family: v.$main-font;
  margin: 0;
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 2rem;
}

#bracket {overflow:hidden;background-color: #e1e1e1;background-color:rgba(225,225,225,0.9);padding-top: 20px;font-size: 12px;padding: 40px 0;}

.split {display:block;float:left;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;width: 100%;-webkit-flex-direction:row;-moz-flex-direction:row;flex-direction:row;}
.round {display:block;float:left;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;width:100%;}

.score {font-size: 11px;text-transform: uppercase;float: right;color: #2C7399;font-weight: bold;font-family: v.$secondary-font ;position: absolute;right: 5px;}
.team {
  padding: 0 5px;
  margin: 3px 0;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.matchup {font-family: v.$secondary-font;}
.round-details {font-family: v.$secondary-font; font-size: 20px; color: #FFFFFF; text-transform: uppercase;text-align: center; margin-bottom: 16px;}
.current li {opacity: 1;}
.current li.team {background-color: #fff;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);opacity: 1;}


@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.share-icon {color: #fff; opacity: 0.35; }
.share-icon:hover { opacity:1;  -webkit-animation: pulse 0.5s; animation: pulse 0.5s;}
.date {font-size: 10px; letter-spacing: 2px;font-family: v.$secondary-font; color: v.$third-color; }



@media screen and (min-width: 981px) and (max-width: 1099px) {
  .container {margin: 0 1%;}
  .champion {width: 14%;}
  .split {width:43%; }
  .split-one .vote-box {margin-left: 138px;}
  .hero p.intro {font-size: 28px;}
  .hero p.year {margin: 5px 0 10px;}

}

@media screen and (max-width: 980px) {
  .container {-webkit-flex-direction:column;-moz-flex-direction:column;flex-direction:column;}
  .split, .champion {width: 90%;margin: 35px 5%;}
  .champion {-webkit-box-ordinal-group:3;-moz-box-ordinal-group:3;-ms-flex-order:3;-webkit-order:3;order:3;}
  .split {border-bottom: 1px solid #b6b6b6; padding-bottom: 20px;}
  .hero p.intro {font-size: 24px;}
  .hero h1 {font-size: 3em; margin: 15px 0;}
  .hero p {font-size: 1em;}
}


@media screen and (max-width: 400px) {

  .split {width: 95%;margin: 25px 2.5%;}
  .round {width:21%;}
  .current {-webkit-flex-grow:1;-moz-flex-grow:1;flex-grow:1;}
  .hero h1 {font-size: 2.15em; letter-spacing: 0;margin:0; }
  .hero p.intro {font-size: 1.15em;margin-bottom: -10px;}
  .round-details {font-size: 90%;}
  .hero-wrap {padding: 2.5em;}
  .hero p.year {margin: 5px 0 10px; font-size: 18px;}

}
